@import "../../../styles.scss";

header{
    margin-bottom: 30px;
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    
    
    .fondo1{
        width: 70%;
        background-color: $base-color;
        height: 440px;
        align-items: baseline;
    }
    .fondo2{
        width: 30%;
        background-color: $secondary-color;
        height: 440px;
        align-items: baseline;
    }
    p{
    color:$main-color;
    font-size: 48px;
    width: 624px;
    height: 172px;
    margin-top: 190px;
    margin-left: 119px;
    position: absolute;
    font-family: $fontTitle;
    }
    img{
        margin-right: 270px;
        position: absolute;
        width: 309px;
        height: 309px;
        right: -25px;
        top: 99px;
    }
 }
 main{
    height: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

 }