// @import '..src/styles.scss';

header{
    position: absolute;
    top: 0px;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    
    
    .fondo1{
        width: 70%;
        background-color: #F4ECDC;
        height: 458px;
        align-items: baseline;
    }
    .fondo2{
        width: 30%;
        background-color: #FF984D;
        height: 458px;
        align-items: baseline;
    }
    p{
    color:#466195;
    font-size: 48px;
    width: 624px;
    height: 172px;
    margin-top: 207px;
    margin-left: 119px;
    position: absolute;
    // font-family: $fontTitle;
    }
    img{
        margin-right: 270px;
        position: absolute;
        width: 309px;
        height: 309px;
        right: -193px;
        top: 99px;
    }
 }
 main{
    height: 1145px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
 }