$fontTitle: 'Lilita One';
  $main-color: #466195;
  $secondary-color: #FF984D;
  $base-color: #F4ECDC;

h3{
    z-index: 1;
    position: absolute;
    top:30px;
    left: 523px;
    color:  $main-color;
   font-family: $fontTitle;
}
#filter-one{
    position: absolute;
    left: 523px;
}
#filter-two{
    position: absolute;
    left: 628px;
}