@import "../../../styles.scss";

.filter{
    position: absolute;
    top: 50px;

select{
    color: $main-color;
    position: absolute;
    font-family: "Lilita One";
    background-color: $base-color;
    font-synthesis: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
select:nth-child(1){
    left: 523px;
}
select:nth-child(2){
    left: 628px;
    margin-left: 50px;
}
}